body{
    margin: 0;
    padding: 0;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.even{
    background-color: gray;
    margin-right: -4px;
    margin-top: -4px;
    color:white;
}

.odd{
    color:gray;
    background-color: white;
    margin-right: -4px;
    margin-top: -4px;
}

button{
    width: 50px;
    height: 50px;
    border-radius: 0;
    border: 2px solid black;
    text-align: center;
}

.row{
    display: flex;
}